USE [master]
GO
/****** Object:  Database [ESoft]    Script Date: 13.12.2021 14:46:48 ******/
CREATE DATABASE [ESoft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESoft', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESoft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESoft_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESoft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESoft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESoft]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 13.12.2021 14:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DealShare] [int] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 13.12.2021 14:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demands]    Script Date: 13.12.2021 14:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address_City] [varchar](50) NULL,
	[Address_Street] [varchar](50) NULL,
	[Address_House] [varchar](50) NULL,
	[Address_Number] [varchar](50) NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MinArea] [varchar](50) NULL,
	[MaxArea] [varchar](50) NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
	[TypeRealStateId] [int] NULL,
 CONSTRAINT [PK_Demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 13.12.2021 14:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NULL,
	[area] [varchar](max) NULL,
 CONSTRAINT [PK_districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealState]    Script Date: 13.12.2021 14:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealState](
	[Id] [int] NOT NULL,
	[Address_City] [nvarchar](50) NULL,
	[Address_Street] [nvarchar](50) NULL,
	[Address_House] [nvarchar](50) NULL,
	[Address_Number] [nvarchar](50) NULL,
	[Coordinate_latitude] [float] NULL,
	[Coordinate_longitude] [float] NULL,
	[TotalArea] [nvarchar](50) NOT NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[TypeRealStateId] [int] NULL,
 CONSTRAINT [PK_apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplies]    Script Date: 13.12.2021 14:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplies](
	[Id] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[RealEstateId] [int] NOT NULL,
 CONSTRAINT [PK_supplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeRealState]    Script Date: 13.12.2021 14:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRealState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeRealState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[agents] ON 

INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
SET IDENTITY_INSERT [dbo].[agents] OFF
GO
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', N'32-25-55', N'')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', N'', N'dummy@email.ru')
INSERT [dbo].[clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', N'', N'client@esoft.tech')
SET IDENTITY_INSERT [dbo].[clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Demands] ON 

INSERT [dbo].[Demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [TypeRealStateId]) VALUES (1, N'', N'', N'', N'', 0, 0, 4, 23, N'', N'', 0, 0, 0, 0, 1)
INSERT [dbo].[Demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [TypeRealStateId]) VALUES (2, N'', N'', N'', N'', 0, 0, 4, 16, N'', N'', 0, 0, 0, 0, 2)
INSERT [dbo].[Demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [TypeRealStateId]) VALUES (3, N'', N'', N'', N'', 0, 0, 19, 10, N'', N'', 0, 0, 0, 0, 3)
SET IDENTITY_INSERT [dbo].[Demands] OFF
GO
SET IDENTITY_INSERT [dbo].[districts] ON 

INSERT [dbo].[districts] ([Id], [name], [area]) VALUES (1, N'Лесная поляна с/о', N'((57.0731042147057 65.549416154359) (57.0745884264208 65.5493517813426) (57.0745884264208 65.5516048369151) (57.0725432372756 65.5515404638987) (57.0731042147057 65.549416154359))')
INSERT [dbo].[districts] ([Id], [name], [area]) VALUES (2, N'Марай ', N'((56.8549652558969 66.014590740761) (56.8566110370811 66.0143332486955) (56.860184483092 66.0265212064592) (56.8588679902234 66.0328726774065) (56.8566110370811 66.0313277250139) (56.8532723765529 66.0339884763566) (56.8532253510366 66.0188822751848) (56.8530842741093 66.0194830900041) (56.8549652558969 66.014590740761))')
INSERT [dbo].[districts] ([Id], [name], [area]) VALUES (3, N'Ольховое с/о', N'((56.9367892844497 65.8276850838403) (56.9354285777792 65.829616274331) (56.9356162644209 65.8304316658715) (56.9358039501145 65.8316762108544) (56.9373992402273 65.8348948616723) (56.9388302510096 65.8318478722314) (56.9367892844497 65.8276850838403))')
GO
SET IDENTITY_INSERT [dbo].[districts] OFF
GO
INSERT [dbo].[RealState] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [TypeRealStateId]) VALUES (0, N'Тюмень', N'Алексеевский хутор', N'', N'', 0, 0, N'12.45', 2, 1, 2)
INSERT [dbo].[RealState] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [TypeRealStateId]) VALUES (1, N'Тюмень', N'Энергостроителей', N'25', N'12', 0, 0, N'41.7', 1, 3, 1)
INSERT [dbo].[RealState] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [TypeRealStateId]) VALUES (2, N'Тюмень', N'Елизарова', N'8', N'44', 0, 0, N'105', 3, 5, 2)
GO
INSERT [dbo].[supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (N'1', 2500000.0000, 1, 2, 1)
INSERT [dbo].[supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (N'10', 5850000.0000, 15, 17, 5)
INSERT [dbo].[supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (N'11', 6800000.0000, 15, 18, 6)
GO
SET IDENTITY_INSERT [dbo].[TypeRealState] ON 

INSERT [dbo].[TypeRealState] ([Id], [Type]) VALUES (1, N'House')
INSERT [dbo].[TypeRealState] ([Id], [Type]) VALUES (2, N'Flat')
INSERT [dbo].[TypeRealState] ([Id], [Type]) VALUES (3, N'Grow')
SET IDENTITY_INSERT [dbo].[TypeRealState] OFF
GO
ALTER TABLE [dbo].[Demands]  WITH CHECK ADD  CONSTRAINT [FK_Demands_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[Demands] CHECK CONSTRAINT [FK_Demands_agents]
GO
ALTER TABLE [dbo].[Demands]  WITH CHECK ADD  CONSTRAINT [FK_Demands_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[Demands] CHECK CONSTRAINT [FK_Demands_clients]
GO
ALTER TABLE [dbo].[Demands]  WITH CHECK ADD  CONSTRAINT [FK_Demands_TypeRealState] FOREIGN KEY([TypeRealStateId])
REFERENCES [dbo].[TypeRealState] ([Id])
GO
ALTER TABLE [dbo].[Demands] CHECK CONSTRAINT [FK_Demands_TypeRealState]
GO
ALTER TABLE [dbo].[RealState]  WITH CHECK ADD  CONSTRAINT [FK_RealState_TypeRealState] FOREIGN KEY([TypeRealStateId])
REFERENCES [dbo].[TypeRealState] ([Id])
GO
ALTER TABLE [dbo].[RealState] CHECK CONSTRAINT [FK_RealState_TypeRealState]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[agents] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_agents]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[clients] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_clients]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_RealState] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[RealState] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_RealState]
GO
USE [master]
GO
